<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css">
</head>

<style>
    html, body {
        height: 100%;
    }
    .bg{
        background-image: url('/assets/image/map.jpg');
        height: 100%;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover; 
        filter: blur(8px);
    }
    .content{
    }
</style>

<body>
    <div class="bg"></div>
    <div class="content">
        <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); width: 500px;">
        {{{body}}}
        </div>
    </div>
    <div id="customAlert" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</body>

<script src="assets/js/utility.js"></script>
<script src="assets/js/fontawesome.js" data-auto-replace-svg="nest"></script>

</html>