<h1 class="is-size-2">Contact</h1>
<a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-5x"></i></a>
<a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-5x"></i></a>
<a href="https://www.instagram.com/"><i class="fab fa-instagram-square fa-5x"></i></a>