<div class="columns">
    <div class="column" style="text-align: center;">
        <article class="panel is-dark">
            <p class="panel-heading">
                Activities
            </p>
            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                <canvas id="myChart"></canvas>
            </div>
        </article>
    </div>
</div>
<script src="/assets/js/Chart.min.js"></script>
<script>
    let activity = JSON.parse("{{activity}}".replace(/(&quot\;)/g, "\""));
</script>
<script src="/assets/js/dashboard.js"></script>