<h1 class="is-size-2">Report an issue</h1>
<form action="/issue" method="post">
    <textarea name="description" class="textarea" placeholder="e.g. Your app so bad"></textarea>
    <br>
    <button class="button is-success" type="submit">Submit</button>
</form>
<script src="assets/js/issue.js"></script>