<form action="/login" method="post">
    <div class="card" style="border-radius: 4px;">
        <header class="card-header">
            <p class="card-header-title">
                Login
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input name="email" class="input" type="email" placeholder="Your Email" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input name="password" class="input" type="password" placeholder="Your Password" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <button style="width: 100%;" class="button is-success" type="submit">Login</button>

                <span>New? <a href="/register">Register</a></span>
            </div>
        </div>
    </div>
</form>
<script src="/assets/js/login.js"></script>